<% layout('layouts/boilerplate')%>

<div class="row">
  <h3 class="text-center">Locate Convenient Disposal Points for Your Old Electronics</h3>
  <section class="col-md-12 mb-4">
    <div id="map" class="map" style="width: 100%; height: 400px"></div>
  </section>

  <section class="col-md-6 order-1 order-md-2" style="margin: 0 auto"></section>
</div>
<script>
  const TOMTOMTOKEN = '<%-process.env.TOMTOM_API_KEY%>';
</script>
<script src="/scripts/showDispose.js"></script>
